{% extends "loggedin_base.html" %}


{% block script %}
     <script src="{{ url_for('static',filename='script/dropzone.min.js') }}"></script>
    {{ dropzone.config() }}
{% endblock %}
{% block other_css %}
     <link rel="stylesheet" href="{{ url_for('static',filename='style/dropzone.min.css',type="text/css") }}">
    {{ dropzone.style('margin: 2px 0;border:2px dashed #0087F7; min-height: 10px') }}
{% endblock %}

{% block content %}

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
                    <p>
                        Upload Your Pet Detail Here:
                        <br>
                        Input your pet name
                        <br>
                        Input your pet age
                        <br>
                        Input your pet type
                    </p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
				    <br>
                    <br>
                    <br>
                </div>
				<div class="col-md-8">
	                <p>Drop Pet Photo Here</p>
                     {{ dropzone.create(action='main.upload') }}
                    <form action="" method ="post" enctype="multipart/form-data" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.petname.label }}<br>
                        {{ form.petname(size=32) }}

                        {% for error in form.petname.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.petage.label }}<br>
                        {{ form.petage(size=10) }}

                        {% for error in form.petage.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.pettype.label }}<br>
                        {{ form.pettype(size=32) }}

                        {% for error in form.pettype.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="form-group">
		            {{form.submit()}}
                    </div>
	</form>


				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}