VeterinaryHospital/virtualenv/
.idea/.gitignore
.idea/
VeterinaryHospital/Backend/src/hospital.db
*.pyc
VeterinaryHospital/Backend/hospital.db
VeterinaryHospital/Backend/virtualenv/Lib/site-packages/flask_mail.py
VeterinaryHospital/Backend/virtualenv/
VeterinaryHospital/Backend/migrations/

*.png
*.jpg
