{% extends "loggedin_base.html" %}


{%  block other_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/chatroom.css') }}">
{% endblock %}

{% block content %}
   <br><br><br><br>
    <h1>CHAT ROOM</h1>
    <div class="main">
        Input message:<br>
        <input type="text" name="input_message" size="120" id="input">
        <button type="submit" onclick="send()" id="send">Send</button><br>
        <textarea cols="120" rows="10" id="content">content</textarea>
    </div>
    <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>


    <div id="chatbox"></div>
    <button ONCLICK="start()">Rush B</button>

    </div>
    <script src="{{ url_for("static",filename="/script/chatroom.js")}}"></script>
{% endblock %}