{% extends "base.html" %}
        {% block nav %}
            <ul>
                <li><a href="{{ url_for('petCenter') }}">PetCenter</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('reservation') }}">Reservation</a></li>
                <li><a href="{{ url_for('chatRoom') }}">ChatRoom</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
				<li><a href="{{ url_for('treatPet') }}">treatPet</a></li>
				<li><a href="{{ url_for('myPets') }}">myPets</a></li>
            </ul>
        {% endblock %}
