{% macro pet_card(pet) %}
    <div class="col-md-4">
							<div class="card">
								<h5 class="card-header">
                                    {{ pet.petname }}
								</h5>
								<div class="card-body">
									<p class="card-text">
                                        <a href="{{ url_for('.get_pet_image',filename=pet.petimage) }}" target="_blank">
										<img alt="{{ url_for('main.get_pet_image',filename=pet.petimage) }}" src="{{ url_for('main.get_pet_image',filename=pet.petimage) }}" />
                                        </a>
                                    </p>
								</div>
								<div class="card-footer">
									<p>
                                        Pet Age: {{ pet.petage }}
                                    </p>
                                    <p>
                                        Pet Type: {{ pet.pettype }}
                                    </p>
                                    <div class="row">

                                        <div class="container">
                                            <!-- Tombol untuk menampilkan modal-->
                                           <button class="btn btn-primary d-flex align-items-center ml-auto" data-toggle="modal"
                                            data-target="#editModal"
                                                data-title="Qucik Order" data-item="Input Pet Name" data-quantity="1" data-order="fast"
                                                    data-backdrop="static" id="quick_order">
                                                            <i class="fas fa-shopping-cart mr-1"></i>
                                            <span class="i18n" name="order">Reserve</span>
                                    </button>
                                    </div>

                                </div>
                            </div>


    </div>

{% endmacro %}
