{% macro pet_card(pet,reservation) %}
    <div class="col-md-4">
							<div class="card">
								<h5 class="card-header">
                                    {{ pet.petname }}
								</h5>
								<div class="card-body">
									<p class="card-text">
                                        <a href="{{ url_for('.get_pet_image',filename=pet.petimage) }}" target="_blank">
										<img alt="{{ url_for('main.get_pet_image',filename=pet.petimage) }}" src="{{ url_for('main.get_pet_image',filename=pet.petimage) }}" />
                                        </a>
                                    </p>
								</div>
								<div class="card-footer">
									<p>
                                        Pet Age: {{ pet.petage }}
                                    </p>
                                    <p>
                                        Pet Type: {{ pet.pettype }}
                                    </p>
                                    <p>
                                        {% if reservation and reservation.state!="finished" %}
                                        Pet State:  {{ reservation.state }}
                                        {% else %}
                                        Pet State:  healthy
                                        {% endif %}
                                    </p>
                                    <div class="row">

                                        <div class="container">
                                            <!-- Tombol untuk menampilkan modal-->
                                           <a class="btn-danger">Delete</a>

                                        </div>

                                    </div>
                                </div>
                            </div>

    </div>

{% endmacro %}
