{% extends "loggedin_base.html" %}

{% block other_css %}
{#         <link href="{{ url_for('static', filename='style/singlePageTemplate.css') }}" rel="stylesheet">#}
{% endblock %}
{% block script %}
    {#     <script src="{{ url_for('static', filename='script/fun_script/sidebarscript.js') }}"></script>#}
{% endblock %}


{% block content %}

  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<h3>
						h3. Lorem ipsum dolor sit amet.
					</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" class="rounded-circle">
				</div>
				<div class="col-md-10">
					<h2>
						Heading
					</h2>
					<p>
						Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
					</p>
					<p>
						<a class="btn" href="#">View details »</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-12">
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
					</p>
				</div>
			</div>
			<button type="button" class="btn btn-success">
				Button
			</button>
			<table class="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Product
						</th>
						<th>
							Payment Taken
						</th>
						<th>
							Status
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Default
						</td>
					</tr>
					<tr class="table-active">
						<td>
							1
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							01/04/2012
						</td>
						<td>
							Approved
						</td>
					</tr>
					<tr class="table-success">
						<td>
							2
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							02/04/2012
						</td>
						<td>
							Declined
						</td>
					</tr>
					<tr class="table-warning">
						<td>
							3
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							03/04/2012
						</td>
						<td>
							Pending
						</td>
					</tr>
					<tr class="table-danger">
						<td>
							4
						</td>
						<td>
							TB - Monthly
						</td>
						<td>
							04/04/2012
						</td>
						<td>
							Call in to confirm
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{##}
{#{% if pets %}#}
{##}
{#{% for pet in pets %}#}
<!-- wrapper -->
{#<div class="html" >#}
{#     <h1>My Pet</h1>#}
{# <span><i class="shopping-cart"></i></span>#}
{##}
{#    <div class="clear"></div>#}
{#    <!-- items -->#}
{#    <div class="items">#}
{#        <!-- single item -->#}
{#        <div class="item">#}
{#            <img src="{{ url_for('static',filename='uploaded_PH/'+ pet.petimage) }}" />#}
{#             <h2>{{ pet.petname }}</h2>#}
{#            <p> Age </p>&nbsp - &nbsp <i>{{ pet.petage }}</i><br>#}
{#		    <p> Type </p>&nbsp - &nbsp <i>{{ pet.pettype }}</i><br>#}
{#            <button class="add-to-cart" type="button">Treat</button>#}
{#        </div>#}
{#        <!--/ single item -->#}
{#    {% endfor %}#}
{##}
{#    </div>#}
{#    <!--/ items -->#}
{#</div>#}
<!--/ wrapper -->
{#{% else %}#}
{#   <h1>Add Your Pets</h1>#}
{##}
{#{% endif %}#}

{#{% endblock %}#}
