{% extends "loggedin_base.html" %}

{% block other_css %}
    <link href="{{ url_for('static', filename='style/singlePageTemplate.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style/reservation.css') }}" rel="stylesheet">
{% endblock %}



{% block content %}
   <br><br><br><br>
    <h1>RESERVATION</h1>

<div class="card-grid">
 {% for pet in pets %}

  <div class="card">
    <header class="card-header">
      <h1>Card Header Here</h1>
    </header>
    <article class="card-content">
      <p>The Nellie, a cruising yawl, swung to her anchor without a flutter of the sails, and was at rest. The flood had made, the wind was nearly calm, and being bound down the river, the only thing for it was to come to and wait for the turn of the tide.</p>
    </article>
    </div>
  {% endfor %}
</div>



</div>

{% endblock %}

