<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
         <link href="{{ url_for('static', filename='/style/css/table.css') }}" rel="stylesheet">
</head>
<!doctype html>
<html lang="zh-Hant">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/235111a63f.js" crossorigin="anonymous"></script>

    <link href="{{ url_for('static', filename='/style/css/backdesk.css') }}" rel="stylesheet">

    <title>saffran_dashboard_index</title>
</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Healing Pawl BMS</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('petCenter') }}">PetCenter</a>
                <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('profile') }}">Profile</a>
                <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('reservation') }}">Reservation</a>
                <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for("index") }}">Home</a>
                <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                <a class="nav-item nav-link active" href="#"><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">User Module</a>

{#                <li><a href="{{ url_for('petCenter') }}" name="petcenter" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('profile') }}" name="profile" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('reservation') }}" name="reservation" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('chatRoom') }}" name="chatroom" class="i18n"></a></li>#}
{#                <li><a href="{{ url_for('logout') }}" name="logout" class="i18n"></a></li>#}
{#				<li><a href="{{ url_for('addPet') }}" name="treatpet" class="i18n"></a></li>#}
{#				<li><a href="{{ url_for('myPets') }}" name="mypet" class="i18n"></a></li>#}
            </div>
        </div>
    </nav>

    <!-- 主要內容 -->
    <div class="container-fluid mt-4 main">

        <!-- 四個等高的區塊 -->
        <div class="row mb-4">
            <!-- 今日營收 -->
            <div class="col-lg-3 col-6">
                <div class="card rounded-0 h-100">
                    <div class="card-body d-flex align-items-center">
                        <!-- icon -->
                        <div><i
                                class="fas fa-money-check-alt fa-3x text-secondary d-none d-sm-block d-none d-sm-block"></i>
                        </div>
                        <!-- 文字 -->
                        <div class="text-center w-100">
                            <div class="h5">今日營收</div>
                            <div class="h3">192,000</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 會員增加 -->
            <div class="col-lg-3 col-6">
                <div class="card rounded-0 h-100">
                    <div class="card-body d-flex align-items-center">
                        <!-- icon -->
                        <div><i class="fas fa-users fa-3x text-secondary d-none d-sm-block"></i></div>
                        <!-- 文字 -->
                        <div class="text-center w-100">
                            <div class="h5">會員增加</div>
                            <div class="h3 display-4">172</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 訂單數 -->
            <div class="col-lg-3 col-6">
                <div class="card rounded-0 h-100">
                    <div class="card-body d-flex align-items-center">
                        <!-- icon -->
                        <div><i class="far fa-id-card fa-3x text-secondary d-none d-sm-block"></i></div>
                        <!-- 文字 -->
                        <div class="text-center w-100">
                            <div class="h5">訂單數</div>
                            <div class="h3 display-4">320</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 待出貨數 -->
            <div class="col-lg-3 col-6">
                <div class="card rounded-0 h-100">
                    <div class="card-body d-flex align-items-center">
                        <!-- icon -->
                        <div><i class="fas fa-cubes fa-3x text-secondary d-none d-sm-block"></i></div>
                        <!-- 文字 -->
                        <div class="text-center w-100">
                            <div class="h5">待出貨數</div>
                            <div class="h3 display-4">120</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 圖表 -->
        <div class="row mb-4">
            <!-- 長條圖 -->
            <div class="col-lg-8">
                <div class="card rounded-0">
                    <div class="card-header">用戶來源</div>
                    <div class="card-body">
                        <!-- 再放入一個 .row -->
                        <div class="row">
                            <!-- 長條圖 -->
                            <div class="col-lg-7">
                                <canvas id="barCanvas"></canvas>
                            </div>
                            <!-- 文字 -->
                            <div class="col-lg-5">
                                <h3>Detail</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, atque voluptas ex
                                    sapiente molestias eligendi illo, ab aliquid quidem cumque hic impedit dolore.
                                    Cupiditate illo tempore aspernatur voluptatibus repudiandae saepe.</p>
                                <h5>Google 來源</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                        aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 圓餅圖 -->
            <div class="col-lg-4">
                <div class="card rounded-0 h-100">
                    <div class="card-header">瀏覽器</div>
                    <div class="card-body d-flex align-items-center">
                        <canvas class="chart-item"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- 表格 -->
        <div class="card rounded-0 mb-4">
            <div class="card-header">月營運狀態</div>
            <div class="card-body">
                <div class="d-flex mb-3">
                    <!-- 左側下拉式選單 -->
                    <form action="" class="form-inline mr-auto">
                        <label for="month" class="sr-only">月份</label>
                        <select name="" id="month" class="form-control form-control-sm">
                            <option value="9">9 月</option>
                            <option value="10">10 月</option>
                            <option value="11">11 月</option>
                            <option value="12">12 月</option>
                        </select>
                    </form>

                    <!-- 右側按鈕 -->
                    <button class="btn btn-outline-secondary mr-2 btn-sm">下載報表</button>
                    <button class="btn btn-outline-secondary btn-sm">訂單管理</button>
                </div>

                <!-- 下方表格 -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="60">日期</th>
                                <th>訂單數</th>
                                <th>退費數</th>
                                <th>出貨數</th>
                                <th>有問題貨品</th>
                                <th>營業額</th>
                                <th>淨利潤</th>
                            </tr>
                        </thead>
                        <tbody class="monthly_status">
                            <tr>
                                <td>9/1</td>
                                <td>300</td>
                                <td>1</td>
                                <td>250</td>
                                <td>3</td>
                                <td>256,000</td>
                                <td>168,000</td>
                            </tr>
                            <tr>
                                <td>9/2</td>
                                <td>300</td>
                                <td>1</td>
                                <td>250</td>
                                <td>3</td>
                                <td>256,000</td>
                                <td>168,000</td>
                            </tr>
                            <tr>
                                <td>9/3</td>
                                <td>300</td>
                                <td>1</td>
                                <td>250</td>
                                <td>3</td>
                                <td>256,000</td>
                                <td>168,000</td>
                            </tr>
                            <tr>
                                <td>9/4</td>
                                <td>300</td>
                                <td>1</td>
                                <td>250</td>
                                <td>3</td>
                                <td>256,000</td>
                                <td>168,000</td>
                            </tr>
                            <tr>
                                <td>9/5</td>
                                <td>300</td>
                                <td>1</td>
                                <td>250</td>
                                <td>3</td>
                                <td>256,000</td>
                                <td>168,000</td>
                            </tr>
                            <tr>
                                <td>9/6</td>
                                <td>300</td>
                                <td>1</td>
                                <td>250</td>
                                <td>3</td>
                                <td>256,000</td>
                                <td>168,000</td>
                            </tr>

                        </tbody>
                        <tfoot class="monthly_status_foot">
                            <tr>
                                <td colspan="6">月總營收</td>
                                <td>3,750,500</td>
                            </tr>
                            <tr>
                                <td colspan="6">月總淨利潤</td>
                                <td>2,140,500</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <!-- 控制列 -->
        <div class="d-block d-md-flex mb-4">
            <!-- 左側搜尋欄位 -->
            <div class="input-group search_box" style="margin-bottom: 10px;">
                <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="button-addon2" data-toggle="tooltip" data-placement="top" data-html="true"
                    title="<em>按下 Enter 快速搜尋</em>">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="button-addon2">Go!</button>
                </div>
            </div>

            <!-- 右側按鈕 -->
            <button class="btn btn-primary d-flex align-items-center ml-auto" data-toggle="modal" data-target="#editModal"
                data-title="快速下單" data-item="請輸入品項" data-quantity="1" data-order="fast" data-backdrop="static">
                <i class="fas fa-shopping-cart mr-1"></i>
                <span>快速下單</span>
            </button>
        </div>

        <!-- 互動性更強的表格 -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="40">#</th>
                        <th>品項</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th width="90">狀態</th>
                        <th class="text-right">金額</th>
                        <th width="190" class="text-center">操作</th>
                    </tr>
                </thead>
                <tbody class="orderList">
                    <!-- Mark -->
                    <tr>
                        <td>1</td>
                        <td>超纖細肥皂 1盒</td>
                        <td>Mark<span class="badge badge-pill badge-danger ml-1">奧客</span></td>
                        <td>Mark@mail.com</td>
                        <td>已出貨</td>
                        <td>NT$ 899</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                    data-target="#editModal" data-title="編輯 超纖細肥皂 1盒 訂單" data-user="Mark" data-email="Mark@mail.com" data-item="超纖細肥皂" data-quantity="1" data-backdrop="static">編輯</button>
                                <button type="button" class="btn btn-outline-secondary">查看</button>
                                <!-- 下拉式選單 -->
                                <button type="button"
                                    class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    其他
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#removeModal" data-title="超纖細肥皂 1盒 訂單" data-backdrop="static">刪除訂單</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- Jacob -->
                    <tr class="table-warning">
                        <td>2</td>
                        <td>(保證)無泡泡沐浴乳 5罐</td>
                        <td>Jacob<span class="badge badge-pill badge-success ml-1">常客</span></td>
                        <td>Jacob@mail.com</td>
                        <td class="text-danger">缺貨</td>
                        <td>NT$ 3,600</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                    data-target="#editModal" data-title="編輯 (保證)無泡泡沐浴乳 5罐 訂單" data-user="Jacob" data-email="Jacob@mail.com" data-item="(保證)無泡泡沐浴乳" data-quantity="5" data-backdrop="static">編輯</button>
                                <button type="button" class="btn btn-outline-secondary">查看</button>
                                <!-- 下拉式選單 -->
                                <button type="button"
                                    class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    其他
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#removeModal" data-title="(保證)無泡泡沐浴乳 5罐" data-backdrop="static">刪除訂單</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- Larry -->
                    <tr>
                        <td>3</td>
                        <td>防滑燈罩 100個</td>
                        <td>Larry</td>
                        <td>Larry@mail.com</td>
                        <td>已出貨</td>
                        <td>NT$ 14,060</td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
                                    data-target="#editModal" data-title="編輯 防滑燈罩 100個 訂單" data-user="Larry" data-email="Larry@mail.com" data-item="防滑燈罩" data-quantity="100" data-backdrop="static">編輯</button>
                                <button type="button" class="btn btn-outline-secondary">查看</button>
                                <!-- 下拉式選單 -->
                                <button type="button"
                                    class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    其他
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item text-danger" href="#" data-toggle="modal" data-target="#removeModal" data-title="防滑燈罩 100個" data-backdrop="static">刪除訂單</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="75"
                                    aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">...</td>
                    </tr>
                    <tr>
                        <td colspan="7">...</td>
                    </tr>
                    <tr>
                        <td colspan="7">...</td>
                    </tr>
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>

        <!-- 分頁元件 -->
        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item" aria-current="page">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>


    </div>

    <!-- footer -->
    <footer class="bg-dark mt-5 py-3 text-white text-center">Hex Cafe 後台管理系統</footer>


    <!-- Modal 元件 -->
    <!-- editModal -->
    <!-- Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group d-flex flex-column">
                            <label for="userName">用戶名稱</label>
                            <input type="text" id="userName" class="form-control" placeholder="請輸入用戶名稱">
                        </div>
                        <div class="form-group d-flex flex-column">
                            <label for="userEmail">Email address</label>
                            <input type="text" id="userEmail" class="form-control" placeholder="請輸入 Email">
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group d-flex flex-column">
                                    <label for="itemName">品項</label>
                                    <input type="text" id="itemName" class="form-control" placeholder="請輸入品項">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group d-flex flex-column">
                                    <label for="itemQuantity">*數量</label>
                                    <input type="number" id="itemQuantity" class="form-control" required>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>




    <!-- removeModal -->
    <!-- Modal -->
    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    是否確認刪除訂單
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
                    <button type="button" class="btn btn-outline-primary">是</button>
                </div>
            </div>
        </div>
    </div>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>

    <script src="js/all.js"></script>


    <script>
        window.chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(201, 203, 207)'
        };

        var randomScalingFactor = function () {
            return Math.round(Math.random() * 100);
        };

        var config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: [
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                        randomScalingFactor(),
                    ],
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.blue,
                    ],
                    label: 'Dataset 1'
                }],
                labels: [
                    "Red",
                    "Orange",
                    "Yellow",
                    "Green",
                    "Blue"
                ]
            },
            options: {
                responsive: true
            }
        };


        // bar
        var MONTHS = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var colors = Chart.helpers.color;
        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: 'Dataset 1',
                backgroundColor: colors(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                borderWidth: 1,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }, {
                label: 'Dataset 2',
                backgroundColor: colors(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                borderWidth: 1,
                data: [
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor(),
                    randomScalingFactor()
                ]
            }]

        };

        window.onload = function () {
            // pie
            document.querySelectorAll('.chart-item').forEach(function (item) {
                config.data.datasets.forEach(function (dataset) {
                    dataset.data = dataset.data.map(function () {
                        return randomScalingFactor();
                    });
                });
                var ctx = item.getContext("2d");
                window.myPie = new Chart(ctx, config);
            })


            // bar
            var barCtx = document.getElementById("barCanvas").getContext("2d");
            window.myBar = new Chart(barCtx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Chart.js Bar Chart'
                    }
                }
            });
        };
    </script>

<script src="{{ url_for('static', filename='script/backdesk.js') }}"></script>

</body>

</html>